
*{

box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #121212;
}






/* INICI DE NAV */

li, a{

font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

header {
display: flex;
justify-content: space-between;
margin-top: 40px;
margin-bottom: 70px;
align-items: center;

}


.navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;

  font-family: 'Stalinist One', cursive;

  margin-left: 150px;

  transition: all 300ms;

}

.navbar-brand:hover{

 transform: scale(0.87);
}


.nav_links li {

display: inline-block;
padding: 0px 6px;

transition: all 300ms;

}

.nav_links li:hover{

 transform: scale(0.87);
}

.nav_links{


margin-right: 150px;

}


.nav-link{

 font-size: 18px;

font-family: 'Saira Stencil One', cursive;

}

.nav_links li a{

transition: all 0.3s ease 0s;
}


/* FINAL DE NAV */



/* TEXTO */


div{

 color: white;

text-align: center;

font-family: 'Oswald', sans-serif;

font-size: 20px;

padding: 2px;
}

.primeraImagen{

  margin-top: 30px;
}

.iconos{

  margin-left: 10px;

}


.text1{

  margin-top: 70px;
}





.icons1 img{

  transition: all 300ms;
}


.icons2 img{

  transition: all 300ms;
}

.icons3 img{

  transition: all 300ms;
}

.icons1 img:hover{

 transform: scale(0.87);
}

.icons2 img:hover{

 transform: scale(0.87);
}

.icons3 img:hover{

 transform: scale(0.87);
}


.imagenes{

   transition: all 300ms;
}

.imagenes:hover{

  transform: scale(1.07);


}