
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, html{
    height:100%;
    line-height:1.8em;
    
  }


/* INICI DE NAV */

.header {
  z-index: 15;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 45px;
  align-items: center;
  width: 100%;
  background-color: rgb(0,0,0,.4);
}


li, a{
  text-decoration: none;
}


.navbar-brand{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Stalinist One', cursive;
  transition: all 300ms;
}

.navbar-brand:hover{
  transform: scale(0.87);
}

.iconos{
  padding: 5px;
}

.icons1 img{
  transition: all 300ms;
}

.icons1 img:hover{
 transform: scale(0.87);
}


.nav_links li {
  display: inline-block;
  padding: 0px 6px;
  transition: all 300ms;
}

.nav_links li:hover{
  transform: scale(0.87);
}

.nav-link{
  font-size: 18px;
  font-family: 'Saira Stencil One', cursive;
  margin-right: 15px;
}

nav{
  margin-right: 107px;
}


.nav_links li a{
  transition: all 0.3s ease 0s;
}


.inicioImagenes {
  padding-top: 140px;
  padding-left: 30px;
      min-height:100%;
    min-widht:100%;
 
}

/* FINAL DE NAV */


img{
  padding: 4px;
}


.ImagenesPoyecto img{
  widht: 100%;
  transition: 300ms;
}


.ImagenesPoyecto img:hover{
  transform: scale(0.95);
  opacity: 85%;
}


.pimg1{
    position:relative;
    padding-left: 3px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url('../../Imatges/fondo1.png');
    min-height:100%;
    min-widht:100%;
  }


.pimg2{

  color:white;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image:url('../../Imatges/fondo2.jpg');
  min-height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:32px;

  }


  .pimg3{

  color:white;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image:url('../../Imatges/fondo3.jpg');
  min-height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:32px;


 
  }



.section{
    background-color: black;
    color:white;
    text-align:center;
    padding: 100px;
}


.text1{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #179ADF;
}


.text2{
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.softwares{
  padding: 10px;
  transition: all 300ms;
}


.softwares:hover{
  transform: scale(0.87);
}


.programas{
  display: flex;
  align-items: center;
  justify-content: center;
}



