
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, html{
    height:100%;
    line-height:1.8em;
    
  }


/* INICI DE NAV */

.header {
  z-index: 15;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 45px;
  align-items: center;
  width: 100%;
  background-color: rgb(0,0,0,.4);
}


li, a{
  text-decoration: none;
}


.navbar-brand{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Stalinist One', cursive;
  transition: all 300ms;
}

.navbar-brand:hover{
  transform: scale(0.87);
}

.iconos{
  padding: 5px;
}

.icons1 img{
  transition: all 300ms;
}

.icons1 img:hover{
 transform: scale(0.87);
}


.nav_links li {
  display: inline-block;
  padding: 0px 6px;
  transition: all 300ms;
}

.nav_links li:hover{
  transform: scale(0.87);
}

.nav-link{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  margin-right: 15px;
}

nav{
  margin-right: 107px;
}


.nav_links li a{
  transition: all 0.3s ease 0s;
}

/* FINAL DE NAV */


 img{
  padding: 4px;
}

.ImagenesPoyecto img{
  
  transition: 300ms;
}

.ImagenesPoyecto img:hover{
  transform: scale(0.95);
  opacity: 85%;
}

.inicioImagenes{
  padding-top: 140px;
  height:100%;
  widht:100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.images{
  width:24%;
}

@media screen and (max-width: 1220px){
  .images{
    min-width: 450px;
  }
}

.pimg1{
    position:relative;
    padding-left: 3px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url('../../Imatges/fondo1.png');
    min-height:100%;
    min-widht:100%;
  }


.pimg2{

  color:white;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image:url('../../Imatges/fondo2.png');
  min-height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  }


  .pimg3{

  color:white;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image:url('../../Imatges/fondo3.png');
  min-height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  }



.section{
    background-color: black;
    color:white;
    text-align:center;
    padding: 100px;
}


.text1{
  font-size: 32px;
  align-items: center;
  justify-content: center;
   font-family: 'Oswald', sans-serif;
}


.text2{
  font-size:28px;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  color: skyblue;
}

.text3{
  font-size:23px;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  padding-left: 200px;
  padding-right: 200px;
}


.text4{
  font-size:28px;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  color: skyblue;
}

.text5{
  font-size:23px;
  font-family: 'Oswald', sans-serif;
}


.info1{
  float:center;
  width: 370px;
  margin-top: 50px;
}

.info2{
  float:center;
  width: 370px;
  margin-top: 27px;
}

.info3{
  float:center;
  width: 370px;
 
}

.information{
   align-items: center;
  justify-content: center;
  display: flex;
}