

*{

box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #121212;
}



/* INICI DE NAV */

li, a{

font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

header {
display: flex;
justify-content: space-between;
padding: 30px 10%;
align-items: center;

}


.navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;

  font-family: 'Stalinist One', cursive;

  margin-left: 215px;

  transition: all 300ms;

}

.navbar-brand:hover{

 transform: scale(0.87);
}


.nav_links li {

display: inline-block;
padding: 0px 6px;

transition: all 300ms;

}

.nav_links li:hover{

 transform: scale(0.87);
}

.nav_links{

list-style: none;

margin-right: 199px;

margin-bottom: 6px;

}


.nav-link{

 font-size: 18px;

font-family: 'Saira Stencil One', cursive;

}

.nav_links li a{

transition: all 0.3s ease 0s;
}


/* FINAL DE NAV */



.inicioImagenes{

  margin-top: 40px;
}

img{

  padding: 1px;


}


#imagenes img{

  widht: 100%;

  transition: all 300ms;

 

}

#imagenes img:hover{

  transform: scale(0.95);

  background: whitesmoke;

  opacity: 70%;
}