
*{


margin: 0;
padding: 0;
background-color: #121212;
}



/* INICI DE NAV */

li, a{

font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

header {
display: flex;
justify-content: space-between;
margin-top: 40px;
margin-bottom: 70px;
align-items: center;

}


.navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;

  font-family: 'Stalinist One', cursive;

  margin-left: 150px;

  transition: all 300ms;

}

.navbar-brand:hover{

 transform: scale(0.87);
}


.nav_links li {

display: inline-block;
padding: 0px 6px;

transition: all 300ms;

}

.nav_links li:hover{

 transform: scale(0.87);
}

.nav_links{


margin-right: 167px;

}


.nav-link{

 font-size: 18px;

font-family: 'Saira Stencil One', cursive;

}

.nav_links li a{

transition: all 0.3s ease 0s;
}


/* FINAL DE NAV */



/* TEXTO */


div{

 color: white;

text-align: left;

font-family: 'Oswald', sans-serif;

font-size: 20px;

padding: 15px;
}


.text1{

  margin-top: 20px;

   display: flex;

  align-items: center;

  justify-content: center;

  color: #179ADF;


}

.text2{

  font-size: 24px;

   display: flex;

  align-items: center;

  justify-content: center;

  margin-left: 300px;

  margin-right: 300px;
  
}


.softwares{

margin-right: 20px;

transition: all 300ms;

}

.softwares:hover{

 transform: scale(0.87);
}

.programas{

  display: flex;

  align-items: center;

  justify-content: center;
}

