

*{

box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #121212;
}






/* INICI DE NAV */

li, a{

font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

header {
display: flex;
justify-content: space-between;
padding: 30px 10%;
align-items: center;

}


.navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;

  font-family: 'Stalinist One', cursive;

  margin-left: 213px;

  transition: all 300ms;

}

.navbar-brand:hover{

 transform: scale(0.87);
}


.nav_links li {

display: inline-block;
padding: 0px 6px;

transition: all 300ms;

}

.nav_links li:hover{

 transform: scale(0.87);
}

.nav_links{

list-style: none;

margin-right: 215px;

margin-bottom: 5px;

}



.nav-link{

 font-size: 18px;

font-family: 'Saira Stencil One', cursive;

}

.nav_links li a{

transition: all 0.3s ease 0s;
}




/* FINAL DE NAV */



/* TEXTO */

.text1{

  color: white;

 margin-right: 400px;

  margin-left: 550px;

 margin-top: 140px;

 text-align: left;

font-family: 'Oswald', sans-serif;


}


.text2{

  color: white;

  margin-left: 550px;

 margin-top: 20px;

 text-align: left;

font-family: 'Oswald', sans-serif;

margin-right: 550px;

font-size: 20px;




}


div{

  display: flex;

  flex-box: flex-start;

}

.foto{

  margin-left: 40px;
}


.icons1{

  margin-left: 530px;

  margin-top: 20px;


}

.iconos{

  margin-left: 15px;

}



.icons1 img{

  transition: all 300ms;
}


.icons2 img{

  transition: all 300ms;
}

.icons3 img{

  transition: all 300ms;
}

.icons1 img:hover{

 transform: scale(0.87);
}

.icons2 img:hover{

 transform: scale(0.87);
}

.icons3 img:hover{

 transform: scale(0.87);
}
